@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans&family=Poppins&display=swap');
/*Fontes útilizadas no figma : IBM - Títulos das noticias; Poppins : Notícia de marte; Nunito : As outras notícias*/
body{
    font-family:'IBM Plex Serif',serif;
    background-color: whitesmoke;
}
.titulo{
    font-family:'IBM Plex Serif',serif;
    font-size: 2.5em;
    text-align: center;
}
hr{
    border-top: 1px solid #C31815;
    margin-left: 25%;
    margin-right: 25%;
}
.titulo2{
    font-family:'IBM Plex Serif',serif;
    font-size: 2.3em;
    text-align: center;
}
.p1{
    font-size: 1.2em;
    margin-left: 25%;
}